<div class="dashboard-container om-block-container dashboard-home">
    <div class="home-container" *ngIf="meetupDocument && firebaseUserDocument as user">
        <div class="dc-heading">
            <div class="meetups-dropdown-wrap">
                <div class="user-current-option-header">
                    <div class="current-option-header">
                        <div class="meetup-logo card-header text-center" style="float: none;">
                            {{meetupDocument.name | slice:0:1}}
                        </div>
                        <h1>{{meetupDocument.name}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay-bg {{showJoiningPopup?'active-block':''}}"></div>
<div class="om-popup be-a-part-qs {{showJoiningPopup?'active-block':''}}"
     *ngIf="!isMember && meetupDocument && firebaseUserDocument as user">
    <div class="pre-process-wrapper">
        <div class="pre-process-wrapper">
            <div class="pre-process-box">
                <div class="main-block-header">
                    <div class="hero-text">
                        <h3 class="big">Be a part of Meetup</h3>
                        <div class="pre-process-label text-center">
                            <div class="meetup-logo card-header text-center" style="float: none;">
                                {{meetupDocument.name | slice:0:1}}
                            </div>
                            <h3>{{meetupDocument.name}}</h3>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="meetupDocument.hasJoiningQuestions">
                    <div class="basic-input-block email-login-block" [formGroup]="questionForm">
                        <p>Please answer the following</p>
                        <div class="formGroup" *ngFor="let q of joiningQuestions;let i = index">
                            <input type="text" class="om-input clr-input om-username"
                                   placeholder="{{q.question}}" name="question-{{i}}"
                                   formControlName="question-{{i}}" required>
                        </div>

                        <div class="auth-button-group" style="padding-top: 1rem;">
                            <input type="button" [disabled]="!questionForm.valid" class="btn success om-btn bold-link" value="Request to join"
                                   (click)="submitQuestionForm()">
                            <input type="button" class="btn blank-b om-btn bold-link" value="Cancel"
                                   (click)="cancelClicked()">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
