// Stggeranimation is used only for the login page.
@mixin staggerAnimation($time) {
  animation: staggerAnim 0.5s ease $time forwards;

  @keyframes staggerAnim {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



.auth-button-group .btn-primary>.btn {
  opacity: 0;
  transform: translateY(20px);

  &:nth-child(1) {
    @include staggerAnimation(1s);
  }

  &:nth-child(2) {
    @include staggerAnimation(1.1s);
  }

  &:nth-child(3) {
    @include staggerAnimation(1.2s);
  }

  &:nth-child(4) {
    @include staggerAnimation(1.3s);
  }

  &:nth-child(5) {
    @include staggerAnimation(1.4s);
  }

}