.om-form-control-meeting-invite {
  margin-left: 0;
  padding-bottom: 1.6rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #e7e7e7;
}

/*.form-block, .label-block-meeting-invite {
  padding-left: 0.1rem;
  padding-right: 3.5rem;
}*/
