<div class="token-page initial-page displayTable center-block">
    <div class="center-element">
        <div class="btn-primary">
            <button class="btn btn-email" routerLink="/sign-in">Login</button>
        </div>
    </div>
    <div class="center-element">
        <div class="main-block-header">
            <div class="hero-text">
                <h3>Join or create a meetup. It's FREE.</h3>
                <p>The basics with 40 minute meetings is absolutely free. Once you get a taste we are hoping you upgrade
                    to the basic passage and purchase a license.</p>
            </div>
        </div>
        <div class="authBlock">
            <div class="auth-button-group">
                <div class="btn-primary">
                    <button class="btn btn-email" routerLink="/sign-in">Create Your Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
