<div class="dashboard-content om-block-container">
    <div class="clr-row no-margin">
        <div class="clr-col-12 no-padding">
            <div class="om-left-pane full-pane" *ngIf="meetingCollection as meeting">

                <div class="dc-heading text-left dc-hero-heading">
                    <h1>Meeting Notify</h1>
                </div>

                <form clrForm [formGroup]="notifyForm" (submit)="SubmitForm($event)">
                    <div class="label-block">
                        <div class="label-block-wrapper">
                            <label class="clr-control-label clr-col-md-12">Meeting</label>
                            <div class="label-block-content">
                                <p>{{meeting.name}}</p>
                                <p>When: {{meeting.date === 'now' ? 'Now' : 'Scheduled'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-block toggle-with-content">
                        <div class="form-radio-only">
                            <clr-toggle-container
                                class="om-toggle-switch-container no-border om-form-control om-toggle-wrapper">
                                <label class="clr-control-label">Send Notifications: </label>
                                <clr-toggle-wrapper>
                                    <label></label>
                                    <input type="checkbox" clrToggle value="true" name="sendNotification"
                                        formControlName="sendNotification" />
                                </clr-toggle-wrapper>
                            </clr-toggle-container>
                        </div>
                        <!--                        <div class="people-count">-->
                        <!--                            <p>Members: 31</p>-->
                        <!--                            <p>Guests: 8</p>-->
                        <!--                        </div>-->
                    </div>
                    <div class="form-block vertical-form-block notification-message">
                        <div class="clr-form-control om-form-control inviteom-textarea-wrapper no-border">
                            <label for="vertical-textarea-basic" class="clr-control-label clr-col-md-12">Notification
                                Message:</label>
                            <div class="clr-control-container">
                                <div class="clr-textarea-wrapper om-form-control">
                                    <textarea id="vertical-textarea-basic" placeholder="Enter message here"
                                        class="clr-textarea om-input om-input-text" formControlName="message"
                                        name="message" required></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="button-block button-wrapper-b">
                        <input type="submit" class="btn success om-btn bold-link" value="Send Notification">
                        <input type="button" class="btn blank-b om-btn bold-link" value="Send Later"
                            (click)="SendLater()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>