<div class="sign-in-page initial-page displayTable center-block">
    <div class="center-element">
        <div class="primary-logo">
            <img src="assets/images/dummy.png">
        </div>
        <div class="main-block-header" style="margin-top: -0.2rem!important;" *ngIf="this.meetingDocData">
            <div class="hero-text">
                <h3>Welcome to Online Meetups</h3>
            </div>
        </div>
        <div class="main-block-header" *ngIf="!this.meetingDocData">
            <div class="hero-text">
                <h3>Welcome to Online Meetups</h3>
            </div>
        </div>
        <div class="sub-block-header sign-in-page-meeting-details">
            <div class="auth-button-group auth-button-group-b">
                <div class="sub-block-header" *ngIf="meetingDocData as meeting">
                    <div class="hero-text text-center">
                        <div style="font-size: 1.2rem; font-weight: bold; margin-bottom: 0.5rem;text-decoration: underline;">Please use one of sign-in methods to join the meeting</div>
                        <div style="font-size: 1rem;margin-bottom: 1rem;">
                            <span style="color:#28a745; font-size: 1.2rem;font-weight: bold">{{meeting.name}}</span>
                            <p>{{meetingDate | date:'medium'}}</p>
                            <p>{{meetingDocData.meetupName}}</p>
                        </div>
                    </div>
                </div>
                <div class="btn-primary">
                    <button class="btn btn-email" (click)="emailLinkSignIn()">Continue with Email</button>
                    <button class="btn btn-apple" (click)="appleSignIn()">Continue with Apple</button>
                    <button class="btn btn-google" (click)="googleSignIn()">Continue with Google</button>
                    <button class="btn btn-facebook" (click)="facebookSignIn()">Continue with Facebook</button>
                    <button class="btn btn-guest" (click)="navigateToGuestLogin()" *ngIf="isGuestLoginVisible">Continue as Guest</button>
                </div>
            </div>
        </div>
    </div>
</div>
