<div class="dashboard-container om-block-container" *ngIf="user">
    <div class="home-container" *ngIf="showSecurityQuestions">
        <form clrForm *ngIf="HasQuestions && meetupCollection" [formGroup]="questionForm"
              (submit)="SubmitQuestions($event)">
            <div class="form-block" *ngFor="let q of JoiningQuestions;let i = index">
                <clr-input-container class="om-form-control textbox-wrapper">
                    <label class="hide-sm" for="question-{{i}}">{{q.question}}</label>
                    <input clrInput type="text" class="om-input clr-col-md-4" name="question-{{i}}"
                           placeholder="Enter your answer" required id="question-{{i}}"
                           formControlName="question-{{i}}"/>
                </clr-input-container>
            </div>
            <div class="button-block button-wrapper-a">
                <input type="submit" class="btn success om-btn bold-link" value="Submit">
            </div>
        </form>
    </div>
    <div class="home-container" *ngIf="!showSecurityQuestions">
        <div class="dc-heading">
            <div class="dc-heading-icon">
                <img src="/assets/images/icons/icon-h.png">
            </div>
            <h1>Meetings</h1>
            <div class="header-button" *ngIf="!isUserGuest">
                <div class="image-button">
                    <a routerLink="/dashboard/meetings/new" class="om-link success">New</a>
                </div>
            </div>
        </div>
        <div class="dc-sub-heading" *ngIf="!isUserGuest">
            <div class="small-select single-select">
                <clr-select-container class="om-select-wrapper">
                    <select clrSelect name="options">
                        <option value="one">Sunday School</option>
                        <option value="two">Sunday School</option>
                        <option value="three">Sunday School</option>
                    </select>
                </clr-select-container>
            </div>
            <div class="filter-button">
                <a class="om-link bold-link">Filter</a>
            </div>
        </div>
        <div class="full-width text-center om-small-link-wrapper" *ngIf="!isUserGuest">
            <a href="" class="om-link success om-small-link" (click)="ShowPastMeetings($event)">{{showPastMeetings?'Hide':'View'}} past meeting</a>
        </div>
        <div class="inner-container full-width">
            <div class="clr-row">
                <!--Loop this div for groups - meeting-table-->
                <div class="meeting-table">
                    <clr-datagrid >
                        <clr-dg-column class="m-name"><!--{{group.groupName}}--> Meeting name</clr-dg-column>
                        <clr-dg-column class="time">Time</clr-dg-column>
                        <clr-dg-column class="grp">Group</clr-dg-column>
                        <clr-dg-column class="att">d</clr-dg-column>

                        <clr-dg-row class="table-body-row" *ngFor="let m of meeting">
                            <clr-dg-cell class="m-name">{{m.name}}</clr-dg-cell>
                            <clr-dg-cell class="time">{{m.date | date}}</clr-dg-cell>
                            <clr-dg-cell class="grp">Weekly Sunday School</clr-dg-cell>
                            <clr-dg-cell class="att">i</clr-dg-cell>
                            <clr-dg-cell>
                                <div class="d-button-set">
                                    <a href="" class="om-link om-link-small"
                                       *ngIf="!isUserGuest && !meeting.isPastMeeting"
                                       (click)="InviteMeeting($event,meeting)">Invite</a>
                                    <a href="{{m.joinURL}}" class="om-link om-link-small success"
                                       (click)="goToLink($event, meeting)"><!-- *ngIf="meeting.showButton" -->
                                        Join
                                    </a>
                                    <span *ngIf="meeting.isPastMeeting">Meeting finished</span>
                                </div>
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>