<div class="dashboard-container om-block-container">
    <div class="home-container" *ngIf="this.loggedInUserDocData">
        <div class="dc-heading">
            <h1>Meetings</h1>
            <div class="header-button" *ngIf="!isUserGuest && this.selectedMeetupDocData">
                <div class="image-button">
                    <a routerLink="/dashboard/meetings/new" class="om-link success"><div class="green-circle"></div>New</a>
                </div>
            </div>
        </div>
        <div class="dc-sub-heading" disabled="true" hidden="true" *ngIf="!isUserGuest">
            <div class="small-select single-select">
                <clr-select-container class="om-select-wrapper">
                    <select clrSelect name="options">
                        <option value="selectedMeetupDocData.id" *ngIf="selectedMeetupDocData">{{this.selectedMeetupDocData.name}}</option>
                    </select>
                </clr-select-container>
            </div>
            <div class="filter-button">
                <a class="om-link bold-link">Filter</a>
            </div>
        </div>
        <div class="full-width text-center om-small-link-wrapper" *ngIf="this.selectedMeetupDocData">
            <a href="" class="om-link success om-small-link" (click)="ShowPastMeetings($event)">{{showPastMeetings?'Hide':'View'}} Past Meetings</a>
        </div>
        <div class="inner-container full-width">
            <div class="clr-row">
                <div class="meeting-table" *ngFor="let group of userMeetings">
                    <clr-datagrid *ngIf="!group.isPastMeeting || showPastMeetings">
                    <clr-dg-column class="m-name">{{group.groupName}} <!--Meeting name--></clr-dg-column>
                        <clr-dg-column class="time">Time</clr-dg-column>
                        <clr-dg-column class="grp">Group</clr-dg-column>
                        <clr-dg-column class="att">Action</clr-dg-column>

                        <clr-dg-row class="table-body-row" *ngFor="let meeting of group.items">
                            <clr-dg-cell class="m-name">{{meeting.meetingName}}</clr-dg-cell>
                            <clr-dg-cell class="time" *ngIf="meeting.isStarted">{{meeting.startsAt.toDate() | date:'shortTime'}} - {{meeting.endsAt.toDate() | date:'shortTime'}}</clr-dg-cell>
                            <clr-dg-cell class="time" *ngIf="!meeting.isStarted" style="font-size: 0.95rem;">Created {{meeting.createdAgo}} ago!<span  *ngIf="!meeting.hasExpired"><br>&nbsp;&#x21aa;Yet to Start!</span></clr-dg-cell>
                            <clr-dg-cell class="grp">{{this.selectedMeetupDocData.name}}</clr-dg-cell>
                            <clr-dg-cell>
                                <div class="d-button-set">
                                    <a href="" class="om-link om-link-small" *ngIf="!isUserGuest && !meeting.hasEnded  && !meeting.hasExpired" (click)="meetingInviteLinkClicked($event,meeting)">Invite</a>
                                    <a href="{{meeting.zoomMeetingStartUrl}}" class="om-link om-link-small success"
                                       (click)="openNewWindowNGoToMeeting($event, meeting, 'start', meeting.isMeetingCreator)" *ngIf="meeting.isMeetingCreator && !meeting.isStarted && !meeting.hasEnded && !meeting.hasExpired">
                                        Start Meeting
                                    </a>
                                    <a href="{{meeting.zoomMeetingJoinUrl}}" class="om-link om-link-small success"
                                       (click)="openNewWindowNGoToMeeting($event, meeting, 'join', meeting.isMeetingCreator)" *ngIf="meeting.isStarted && !meeting.hasEnded">
                                        Join Meeting in Progress...
                                    </a>

                                    <span *ngIf="!meeting.isMeetingCreator && !meeting.isStarted && !meeting.hasEnded && !meeting.hasExpired">
                                        Meeting yet to begin...
                                    </span>
                                    <span *ngIf="meeting.isPastMeeting && meeting.hasEnded">Meeting finished!</span>
                                    <span *ngIf="meeting.hasExpired">Meeting expired!</span>
                                </div>
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
