<div class="dashboard-container om-block-container dashboard-home">
    <div class="home-container" *ngIf="selectedMeetupDocData && this.authService.loggedInUserFromAuthService$ | async as user">
        <div class="dc-heading">
            <div class="dc-heading-icon meetup-logo-24 card-header">
                {{selectedMeetupDocData.name.toUpperCase() | slice:0:1}}
            </div>

            <div class="meetups-dropdown-wrap">
                <span style="margin-left: 0.5rem;{{getSelectedMeetupNameFontSize()}};padding-top: 0.2rem;font-weight: bold;">{{selectedMeetupDocData.name}}</span>
            </div>
            <div class="header-button">
                <div class="image-button">
                    <a routerLink="/publicmeetups" class="om-link-find-meetups success img-link"><clr-icon class="search-icon" shape="search" style=" position: relative;top: -0.2rem;left: -0.4rem;"></clr-icon>Find a Meetup</a>
                </div>
            </div>
            <div class="header-button" *ngIf="((this.selectedMeetupDocData?.id) && (['MEETUP_OWNER', 'MEETUP_ADMIN'].includes(this.meetupRole))) || !loggedInUserDocData.isAnonymous">
                <div class="image-button">
                    <a routerLink="/dashboard/add-new-meetup" class="om-link success img-link"><div class="green-circle"></div>Add meetup</a>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="clr-row">
                <div class="upcoming-meetings small-block-home">
                    <h3>Upcoming & Ongoing Meetings</h3>

                    <div class="d-block-scoll">
                        <div class="ps recent-chat-ps" [perfectScrollbar]="config">
                            <div class="chats-scroll">

                                <div class="meetings-d-block" *ngFor="let meeting of upcomingMeetings | async" style="clear: left;">

                                   <div style="float: left;margin-bottom: 1rem;" >
                                    <h3>{{meeting.meetingName}}</h3>
                                       <p *ngIf="meeting.isStarted">{{meeting.startsAt.toDate()| date:'MMMM dd'}}, {{meeting.startsAt.toDate() | date:'h:mm'}} - {{meeting.endsAt.toDate() | date:'shortTime'}}</p>
                                       <p *ngIf="!meeting.isStarted" style="font-size: 0.95rem;">Created {{meeting.createdAgo}} ago!<br>&nbsp;&#x21aa;Yet to Start!</p>
                                    <div class="p-image">
                                        <p><img src="assets/images/icons/groups-small.png" style="margin-right:0.3rem;"/>{{selectedMeetupDocData.name}}</p> <!--This is group name, currently defaulted to meetup name as there are only default groups now. Will change to group name later-->
                                    </div>
                                   </div>
                                    <div style="float: right;margin-right: 1rem;">
                                        <a href="" class="om-link om-link-small" *ngIf="!loggedInUserDocData.isAnonymous && !meeting.hasEnded" (click)="meetingInviteLinkClicked($event,meeting)">Invite</a>
                                        <a class="om-link om-link-small success" style="margin-left: 1rem;"
                                           (click)="openNewWindowNGoToMeeting($event, meeting, 'start', meeting.isMeetingCreator)"  *ngIf="meeting.isMeetingCreator && !meeting.isStarted && !meeting.hasEnded">
                                            Start Meeting
                                        </a>
                                        <span class="om-link om-link-small success" style="margin-left: 1rem;" *ngIf="!meeting.isMeetingCreator && !meeting.isStarted && !meeting.hasEnded">
                                            Meeting yet to begin!
                                        </span>
                                        <a class="om-link om-link-small success" style="margin-left: 1rem;"
                                           (click)="openNewWindowNGoToMeeting($event, meeting, 'join', meeting.isMeetingCreator)" *ngIf="meeting.isStarted && !meeting.hasEnded">
                                            Join Meeting...
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recent-chats-block-wrapper small-block-home home-page">
                    <h3>Recent Chats</h3>
                    <div class="ps recent-chat-ps" [perfectScrollbar]="config">
                        <div class="chats-scroll">
                            <div class="recent-chats-block">
                                <div class="chat-block-head" (click)="openRecentChatInChatSection(recentChatItem)"
                                     *ngFor="let recentChatItem of recentChatsList">
                                    <div class="chat-block-photo">
                                        <img src="{{recentChatItem.userImages[0]}}"
                                             *ngIf="recentChatItem.userImages && (recentChatItem.userImages.length > 0)">
                                        <div class="chatter-image-alt"
                                             *ngIf="!recentChatItem.userImages ||(recentChatItem.userImages && recentChatItem.userImages.length === 1 && !recentChatItem.userImages[0]) && recentChatItem.chatterNames">{{recentChatItem.chatterNames.toUpperCase() | slice:0:1}}</div>
                                    </div>
                                    <p class="chat-block-name">{{recentChatItem.chatterNames ? recentChatItem.chatterNames : 'user'}}</p>
                                    <p [line-truncation]="3" [innerHTML]="recentChatItem.recentMessages"></p>
                                    <span [ngClass]="{'chat-block-state chat-block-state-away': (getMemberOnlineStatus(recentChatItem) === 'away'),
                                        'chat-block-state chat-block-state-online': (getMemberOnlineStatus(recentChatItem) === 'online'),
                                        'chat-block-state chat-block-state-offline': (getMemberOnlineStatus(recentChatItem) === 'offline')
                                        }"
                                          *ngIf="trustedMembers"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div *ngIf="!HasAccessToMeetup && userCollection as user" class="home-container">-->
    <!--        <div class="dc-heading">-->
    <!--            <p>You're not a member, please <a (click)="NavigateToJoin($event)" class="om-link success img-link">join</a>-->
    <!--                the meetup.</p>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<!-- add class `active-block` to show the overlay-->
<div class="overlay-bg"></div>
<!-- add class `active-block` to show the request-panel -->
<div class="request-panel">
    <div class="pre-process-wrapper">
        <div class="pre-process-box">
            <div class="main-block-header">
                <div class="hero-text text-left">
                    <h3 class="big">Be a part of Meetup:</h3>
                    <div class="pre-process-label">
                        <div class="pre-process-image"><img src="/assets/images/icons/icon-h.png" alt="Alt name">
                        </div>
                        <h3>Heritage Christian Fellowship</h3>
                    </div>
                </div>
            </div>
            <div class="basic-input-block email-login-block">
                <div class="pre-process-text-block">
                    <p>T. Payton</p>
                    <p>payton@gmail.com</p>
                </div>
                <div class="dv-input"></div>
                <div class="formGroup">
                    <input type="text" class="om-input clr-input om-referral"
                           placeholder="Who invited you to this meetup" name="contact">
                </div>
                <div class="formGroup">
                    <div class="auth-button-group">
                        <input type="submit" class="btn success om-btn bold-link" value="Request to join">
                        <input type="button" class="btn blank-b om-btn bold-link" value="Cancel"
                               (click)="RedirectBack()">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Secure account box, add class `active-block` to show -->
