<div class="dashboard-content om-block-container group-invite-page">
    <div class="clr-row no-margin">
        <div class="clr-col-12 no-padding">
            <div class="om-left-pane full-pane">
                <div class="dc-heading text-left dc-hero-heading">
                    <h1>Group Invite</h1>
                </div>
                <form clrForm>
                    <div class="label-block small-select single-select">
                        <clr-select-container class="om-select-wrapper">
                            <select clrSelect name="options">
                                <option value="one">Sunday School</option>
                                <option value="two">Sunday School</option>
                                <option value="three">Sunday School</option>
                            </select>
                        </clr-select-container>
                    </div>

                    <div class="form-block vertical-form-block people-invite">
                        <div class="clr-form-control om-form-control om-input-wrapper no-border">
                            <label for="" class="clr-control-label clr-col-md-12">People</label>
                            <div class="clr-control-container inline-control-container">
                                <div class="clr-input-wrapper om-form-control">
                                    <input type="text" id="basic" placeholder="Name" class="om-input om-input-text">
                                </div>
                                <div class="clr-input-wrapper om-form-control">
                                    <input type="text" id="basic" placeholder="Email" class="om-input om-input-text">
                                </div>
                                <div class="clr-input-wrapper om-form-control">
                                    <input type="text" id="basic" placeholder="Cel phone"
                                        class="om-input om-input-text">
                                </div>
                            </div>
                            <div class="image-button">
                                <a href="" class="om-btn btn"><div class="green-circle"></div>Add Another</a>
                            </div>
                        </div>
                    </div>

                    <div class="om-btn-wrapper">
                        <input type="submit" class="btn success om-btn bold-link" value="Send Notification">
                        <input type="submit" class="btn blank-btn om-btn bold-link" value="Send Later">
                    </div>
                </form>
            </div>
        </div>

        <div class="om-side-panel">
            <div class="side-panel-heading text-left">
                <h3>Edit Joining Questions</h3>
            </div>
            <div class="side-panel-textarea-wrapper">
                <div class="clr-form-horizontal">
                    <clr-textarea-container class="om-form-control om-textarea-wrapper">
                        <label>1:</label>
                        <textarea clrTextarea class="om-input om-input-text" name="description"
                            placeholder="Write a Description..." required></textarea>
                    </clr-textarea-container>
                </div>
                <div class="img-button-wrapper">
                    <button class="btn success om-btn add-another">Add Another</button>
                </div>
                <button class="btn success om-btn add-another">Done</button>
            </div>
        </div>


    </div>
</div>
