<div class="dashboard-content om-block-container">
    <div class="clr-row no-margin">
        <div class="clr-col-12 no-padding">
            <div class="om-left-pane full-pane">
                <div class="dc-heading text-left dc-hero-heading">
                    <h1>New Meeting</h1>
                </div>
                <form clrForm [formGroup]="meetingFormGroup" (ngSubmit)="submitFormToCreateMeeting()">
                    <div class="form-block">
                        <clr-input-container class="om-form-control textbox-wrapper">
                            <label>Name:</label>
                            <input clrInput type="text" class="om-input clr-col-md-4" name="name"
                                placeholder="Meeting Name" formControlName="name" required />
                        </clr-input-container>
                    </div>
                    <div class="form-block">
                        <div class="nested-blocks">
                            <clr-radio-container class="om-form-control om-radio-wrapper no-border" clrInline>
                                <label>People:</label>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="people" required value="group"
                                        formControlName="people" />
                                    <label>Group</label>
                                </clr-radio-wrapper>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="people" required value="choose"
                                        formControlName="people" />
                                    <label>Choose People</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                            <div class="people-description nested-select">
                                <div class="clr-row no-margin">
                                    <label class="clr-col-2 clr-control-label"></label>
                                    <div class="clr-col-10 clr-control-container">
                                        <div class="small-select" *ngIf="meetingFormGroup.get('people').value==='group'">
                                            <clr-select-container class="om-select-wrapper">
                                                <label>Invite:</label>
                                                <select clrSelect name="options">
                                                    <!--<option value="one">Sunday School</option>
                                                    <option value="two">Sunday School</option>
                                                    <option value="three">Sunday School</option>-->
                                                </select>
                                            </clr-select-container>
                                        </div>
                                        <div class="nested-control-container">
                                            <a class="om-link bold-link"
                                                *ngIf="meetingFormGroup.get('people').value==='choose'"
                                                (click)="openParticipantSelectionPanel($event)">Add/Edit People > </a>
                                            <!--                                            <div class="people-count">-->
                                            <!--                                                <p>Members: 31</p>-->
                                            <!--                                                <p>Guests: 8</p>-->
                                            <!--                                            </div>-->
                                            <div class="toggle-wrapper-sm">
                                                <clr-toggle-container
                                                    class="om-toggle-switch-container  om-form-control om-toggle-wrapper no-border">
                                                    <label class="clr-control-label clr-col-md-4">Allow
                                                        Guests: </label>
                                                    <clr-toggle-wrapper>
                                                        <label class=""></label>
                                                        <input type="checkbox" clrToggle value="option1"
                                                            name="allowGuests" formControlName="allowGuests"
                                                            class="clr-col-md-8" />
                                                    </clr-toggle-wrapper>
                                                </clr-toggle-container>
                                                <div>
                                                    <p class="info-block">Allowing guests will create a public link to
                                                        the meeting. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block">
                        <div class="form-toggle-only">
                            <!-- Add a class no-border when scheduled is active -->
                            <clr-radio-container class="om-form-control om-radio-wrapper" clrInline>
                                <label>Date:</label>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="isInstant" required value="true"
                                        formControlName="isInstant" />
                                    <label>Now</label>
                                </clr-radio-wrapper>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="isInstant" required value="false"
                                        formControlName="isInstant" />
                                    <label>Scheduled</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                            <!-- Show hide the below thing for sheduled -->
                            <div class="people-description scheduled-nested-form"
                                *ngIf="meetingFormGroup.get('isInstant').value===false">
                                <div class="clr-row no-margin" formGroupName="dateValues">
                                    <label class="clr-col-2 clr-control-label"></label>
                                    <div class="clr-col-10 clr-control-container">
                                        <div class="nested-control-container">
                                            <div class="small-select">
                                                <clr-date-container class="om-datepicker-warpper">
                                                    <label>Start</label>
                                                    <input type="time" clrDate name="startsAt" formControlName="startsAt">
                                                </clr-date-container>
                                            </div>
                                            <div class="small-select">
                                                <clr-date-container class="om-datepicker-warpper">
                                                    <label>End</label>
                                                    <input type="time" clrDate name="endsAt" formControlName="endsAt">
                                                </clr-date-container>
                                            </div>
                                            <div>

                                            </div>
                                            <div class="toggle-wrapper-sm">
                                                <clr-toggle-container
                                                    class="om-toggle-switch-container  om-form-control om-toggle-wrapper no-border">
                                                    <label class="clr-control-label clr-col-md-5">Recurring meeting:
                                                    </label>
                                                    <clr-toggle-wrapper>
                                                        <label class=""></label>
                                                        <input type="checkbox" clrToggle value="false" name="recurring"
                                                            class="clr-col-md-7" formControlName="recurring" />
                                                    </clr-toggle-wrapper>
                                                </clr-toggle-container>
                                            </div>
                                            <div class="label-a-tag">
                                                <label class="d">Time Zone:</label>
                                                <div class="">
                                                    <a class="om-link bold-link">Mountain Time</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-block">
                        <div class="form-radio-only">
                            <clr-toggle-container class="om-toggle-switch-container  om-form-control om-toggle-wrapper">
                                <label class="clr-control-label">Add Attachments</label>
                                <clr-toggle-wrapper>
                                    <label></label>
                                    <input type="checkbox" clrToggle value="true" name="addAttachments"
                                        formControlName="addAttachments" />
                                </clr-toggle-wrapper>
                            </clr-toggle-container>
                        </div>
                    </div>
                    <div class="form-block">
                        <div class="form-radio-only">
                            <clr-toggle-container
                                class="om-toggle-switch-container  om-form-control om-toggle-wrapper no-border">
                                <label class="clr-control-label">Record Meeting</label>
                                <clr-toggle-wrapper>
                                    <label></label>
                                    <input type="checkbox" clrToggle value="true" name="recordMeeting"
                                        formControlName="recordMeeting" />
                                </clr-toggle-wrapper>
                            </clr-toggle-container>
                        </div>
                    </div>
                    <div class="button-block button-wrapper-b">
                        <input type="submit" [disabled]="this.meetingFormGroup.invalid" class="btn success om-btn bold-link" value="Create Meeting">
                        <input type="button" class="btn regular om-btn bold-link" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
        <div class="om-side-panel meeting-side-panel" [ngClass]="showParticipantSelectionSection? 'show-element show-chat-element': ''"
            [ngClass]="showUserFilteringOption?'show-element filter-active':''">
            <div class="side-panel-heading text-left">
                <h3>Add/Edit People</h3>
            </div>
            <div class="side-panel-content-wrapper">
                <div class="side-panel-header-b">
                    <div class="select-small">
                        <clr-select-container class="om-select-wrapper">
                            <select clrSelect name="options">
                                <option value="one">All</option>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="side-panel-search">
                        <div class="search-warpper search-warpper-new-meeting">
                            <clr-icon class="search-icon" shape="search" style=" position: relative;top: -0.2rem;left: 1.28rem;"></clr-icon>
                            <input type="text" class="clr-input search-input" style="padding-left: 1.35rem;" placeholder="Enter minimum 3 letters & press Enter..."  [formControl]="searchTextControl" (keyup.enter)="enterPressed()">
                        </div>
                    </div>
                    <div class="side-panel-filter" hidden>
                        <a href="" class="filter-ico" (click)="filterPanel($event)"></a>
                    </div>
                </div>
                <div class="side-panel-scroll">
                    <div class="ps side-panel-ps" [perfectScrollbar]="config">

                        <div class="sidepanel-data-grid">
                            <clr-datagrid>
                                <clr-dg-row class="cell-row"  *ngFor="let member of trustedMembers; let i=index;">
                                    <clr-dg-cell class="cell-name-wrapper">
                                        <div class="cell-wrapper">
                                            <div class="cell-image">
                                                <img src="{{this.member.photoURL ? this.member.photoURL : 'assets/images/user-avatar.png'}}"></div>
                                        </div>
                                    </clr-dg-cell>
                                    <clr-dg-cell style="max-width: 15rem;">{{this.member.displayName}}</clr-dg-cell>
                                    <clr-dg-cell class="cell-state-warpper">
                                        <input type="checkbox" clrCheckbox [value]="this.member.userId" (change)="onCheckboxChange(member,$event)"/>
                                    </clr-dg-cell>
                                </clr-dg-row>
                                <clr-dg-row class="cell-row">
                                    <clr-dg-cell style="text-align: center;">
                                        <span style="font-size: 1rem; font-weight: 300; font-style: italic; color: #7ed321;font-family: Helvetica Neue LT W05_75,sans-serif">Meeting Creator is automatically added as a host of the meeting...</span><br/>
                                        <button class="btn success om-btn bold-link" value="Done" style="margin-top: 1.6rem;" (click)="closeParticipantSelectionPanel()">Done</button>
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                    </div>
                </div>
                <div class="filter-panel" [ngClass]="showUserFilteringOption?'show':''">
                    <div class="filter-panel-heading">
                        <h3>Filters:</h3>
                    </div>
                    <div class="filter-panel-content">

                        <div class="sort-by">
                            <p>Sort by</p>
                            <div class="select-small">
                                <clr-select-container class="om-select-wrapper">
                                    <select clrSelect name="options">
                                        <option value="one">All</option>
                                        <option value="two">Sunday School auto</option>
                                        <option value="three">Sunday School</option>
                                    </select>
                                </clr-select-container>
                            </div>
                        </div>
                        <div class="filter-by">
                            <div class="toggle-wrapper-sm">
                                <clr-toggle-container
                                    class="om-toggle-switch-container  om-form-control om-toggle-wrapper no-border">
                                    <label class="clr-control-label clr-col-md-4">Show Selected Only:</label>
                                    <clr-toggle-wrapper>
                                        <label class=""></label>
                                        <input type="checkbox" clrToggle value="option1" name="options"
                                            class="clr-col-md-8" />
                                    </clr-toggle-wrapper>
                                </clr-toggle-container>
                            </div>
                        </div>
                        <div class="filter-buttons text-center">
                            <input type="submit" class="btn success om-btn" value="Apply filter">
                            <a href="" class="om-link bold-link">Clear filter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
